
*,
*::before,
*::after{
margin: 0;
padding: 0;
box-sizing: border-box;
}
:root{
    --primary-color : #fc5d66;
    --secondary-color : #ffc05a;
    --light-color :#f9fafb;
    --dark-color :#272d35;
}

html,
body{
    font-family: 'open Sans', sans-serif;
    scroll-behavior: smooth; 
    line-height: 1.6;
    /*max-width: 100%;*/ 

}

a{
    text-decoration: none;

}

ul{
    list-style: none;

}

img{
    max-width:100%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}
.container-sm{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2rem;
}

/*cards */
.card{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
padding: 2rem 1.75rem;
background: #fff;
box-shadow: 0 4px 12px 0 rgba(33, 33, 33, 0.3);
}
.btn{
    display: inline-block;
    padding: 1.3rem 2.3rem;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 32px;
    color: var(--dark-color);
    cursor: pointer;
    transition: all 0.2s;
 
}
.btn:hover{
    background: var(--primary-color);
    color: #fff;
    border-color: #fff;
}

.section{
    margin: 4rem 0;
}

.section-header {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3rem;
}
.section-header h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--dark-color);
  margin-bottom: 0.5rem;
}
.section-header p {
  font-size: 1.3rem;
  color: var(--dark-color);
}
.heading-border {
  width: 64px;
  height: 4px;
  background: var(--primary-color);
  margin: 0 auto 2rem;
}


.navbar {
  background: transparent;
  color: white;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
 transition: background-color 0.5s ease-in-out;
}

.navbar.navbar-scroll {
  background-color: rgba(235, 77, 85, 0.8);
  backdrop-filter: blur(10px);
}
.navbar-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar img{
    width: 81px;
    height: 32px;
}
.navbar .main_menu_list{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 600;

}
.navbar .main-menu-items{
  margin-top: 6px;
}
.navbar a{
    color: #ffffff;
}
.navbar a:hover{
    color : var(--secondary-color)
}
.navbar i{
    font-size: 1.5rem;
}




/* mobile navbar   */




.mobile-menu {
  display: none;
}

.navbar .mobile-menu-toggle {
  color: #fff;
  cursor: pointer;
}

.navbar .mobile-menu-items {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.95;
  padding: 3rem 2rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.navbar .mobile-menu-items.active {
  transform: translateX(0);
}

.navbar .mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
}


.navbar .mobile-menu-items,
.navbar .mobile-menu-list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.2rem;
}
.hero {
   position: relative;
  background: #000 url("images/header-background.jpg") center center / cover no-repeat;
  padding: 11.5rem 2rem 8rem;
  color: #fff;
  overflow-x: hidden;
 
}

.hero .hero-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
  padding-bottom:8rem;
}


.hero img {
  width: 100%;
  margin-right: -100px;
}

.hero h1 {
  font-size: 3.5rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.8;
  font-weight: 400;
}

.hero .frame-decoration {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
}

/* text edit*/
.text-primary{
    color: var(--primary-color);
}
.text-secondary {
    color: var(--secondary-color);
}


.hero-image {
  flex: 1;
  text-align: right;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}



/* learning section */


 .grid{
 display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.description{
    font-size: 22px;
    font-weight: 8rem;
}


/* course image highlite */
.grid img {
transition: transform 0.3s;
  cursor: pointer;
}

.grid img:hover {
 transform: scale(1.1);
}


.course-img h3{
  font-size: 1rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

/* chapter section */
.chapter-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding:1rem 0rem 4rem;
}
.chapter-cards img{
    width: 130px;
    margin-top: 1rem;

}
.chapter-cards h3{
    font-size: 1.25rem;
    font-weight: 700;
    margin: 1rem 0;
}

/*summary */
.summary {
  background: var(--light-color);
  color: var(--dark-color);
  padding: 4rem 2rem 5rem;
}

.summary .section-lists{
background: #fff;
padding: 2rem;

}

.summary .list-header{
    background: var(--primary-color);
    color: #fff;
 padding: 0.5rem 1rem;
 font-size: 1.2rem;
 font-weight: 700;
 margin: 1rem 0;
}

.summary .list-item{
    padding: 1.4rem 0;
   border-bottom: 1px solid #e8e8e8;
}

.summary .list-item:last-child{
    border-bottom: none;

}

/* info sec*/
.info-container {
  background: url('../images/audience.jpg') top center/cover no-repeat;
  display: flex;
}

.info-content {
  flex: 1;
  background-color: var(--primary-color);
  color: white;
  padding: 4rem;
}

.info-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;

}

.info-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
 
}
.info-content ul li {
  font-size: 1.2rem;
  line-height: 2;
}



.info-content i {
  color: var(--secondary-color);
  margin-right: 0.5rem;
}
.info-left {
  width: 50%;
}
/* takway */
.takeaways-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    padding: 1.5rem 0;
    flex-wrap: wrap;
}
.takeaways-cards .card {
  flex-direction: row;
  text-align: left;
}

.takeaways-cards .card i {
  margin-right: 1rem;
}

/* details section*/
.details .details-flex {
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}

.details img {
  width: 100%;
  max-width: 500px;
}
.details h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.details p {
  margin: 1rem 0 2rem;
}
.details .heading-border {
  margin: 0;
}

/* another*/

.details-flex {
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.details-flex.reverse {
  flex-direction: row-reverse; 
}

.details-content {
  flex: 1;
 
}

.details-content h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.details ul {
  margin-bottom: 2rem;
}

.details ul li {
  line-height: 2;
}

.details-content ul {
  list-style: none;
  padding-left: 0;
  margin: 1rem 0 3rem;
}

.details-content li {
  font-size: 1rem;
}

.details i {
  margin-right: 0.5rem;

}

.author-section img {
  max-width: 500px;
  width: 100%;
  height: auto;
  flex: 1;
}

/* Statsec */
.stats {
  background: #000 url('/images/stats-background.jpg') center center/cover no-repeat;
  color: #fff;
}

.stats-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 2rem;
}

.stats img {
  width: 100%;
  max-width: 500px;
}

.stats-content {
  max-width: 500px;
}

.stats .stats-numbers {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.stats .stats-numbers h3 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 0;;
}

.stats .stats-numbers p {
  font-size: 0.8rem;
}

.stats .stats-text {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.stats .btn {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 200px
}




/* Newsletter */
.newsletter {
  text-align: center;
  margin: 0 2rem;
}

.newsletter-flex {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--light-color);
  border: 1px solid #eee;
  padding: 4rem 2rem;
}

.newsletter h2 {
  font-size: 2rem;
  font-weight: 700;
}

.newsletter p {
  max-width: 600px;
}

.newsletter input[type='email'] {
  padding: 1rem 2rem;
  border: 1px solid #ccc;
  border-radius: 32px;
  width: 100%;
  max-width: 400px;
  margin: 1rem 0;
}
.newsletter .btn{
margin-left: 1.4rem;
}
/* Social */
.social {
  background: var(--dark-color);
  color: #fff;
  padding: 6rem 2rem;
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 0;
}

.social a,
.footer a {
  color: #fff;
}

.social a:hover,
.footer a:hover {
  color: var(--secondary-color);
}

.social p {
  margin-bottom: 2rem;
}

.social .social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

/* Footer */
.footer {
  background: var(--dark-color);
  color: #fff;
  border-top: 1px solid #384653;
  padding: 0.5rem 2rem;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}

/* Inner Header */
.inner-header {
  background: var(--primary-color);
  color: #fff;
  height: 250px;
  padding-top: 9rem;
}

.inner-header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

/* Contact Form */
.contact-form p {
  margin-bottom: 2.5rem;
}

.contact-form input,
.contact-form textarea {
  display: block;
  font-family: inherit;
  font-size: medium;
  width: 100%;
  margin: 1.5rem 0;
  border: 1px solid #ccc;
  padding: 1.2rem 1rem;
}

.contact-form textarea {
  height: 200px;
}

.contact-form .btn {
  display: block;
  width: 100%;
  font-size: inherit;
  font-family: inherit;
 
  justify-content: center;

}


/*contact  */


.pgcontact{
  font-size: 1.6rem ;
  font-weight: 800px;
  text-align: center;
}



/* Location */
.location h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;

}

.location p {
  margin-bottom: 2rem;
  text-align: left;
}

.location .map {
  overflow: hidden;
  position: relative;
  height: 0;
  margin-bottom: 3rem;
  padding-bottom: 50%;
  border-radius: 1rem;
}

.location .map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}









/*Responsive*/
@media(max-width:1200px){
  .hero .hero-flex {
    gap: 2rem;
  }

  .hero img {
    max-width: 500px;
    margin-right: 0;
  }

  .hero h1 {
    font-size: 3rem;
  }

  .chapter-cards {
    grid-template-columns: repeat(3, 1fr);
  }

}

@media(max-width:992px){
    .hero{
        text-align: center;
    }
    .hero .hero-flex{
        flex-direction: column;
        padding-bottom: 4rem;
    }

    .hero img{
        max-width: 600px;
        margin-top: 2rem;
    }
    .chapter-cards{
        grid-template-columns: 1fr;
    }
    .grid{
       grid-template-columns: 1fr;
    }

    .chapter-cards,
    .takeaways-cards{
        grid-template-columns: 1fr;
    }
  .details-flex,
  .details + .details .details-flex,
  .stats .stats-flex {
    flex-direction: column;
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .main-menu-items,
  .info-left {
    display: none;
  }

  .navbar .mobile-menu {
    display: block;
  }

  .navbar .mobile-menu-toggle {
    display: block;
    padding: 10px;
  }
.hero img {
  width: 100%;         
  height: auto;       
  display: block;
  margin: 0 auto;     
  justify-content: center;
  margin-top: 2rem;
}


  .info-container {
    flex-direction: column;
  }

  .info-content {
    padding: 2rem;
  }

  .info-content h2 {
    font-size: 1.5rem;
  }

  .info-content p {
    font-size: 1rem;
  }
 

   .newsletter-flex {
    flex-direction: column;
    padding: 2rem 1rem;
  }

  .newsletter form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .newsletter input[type='email'],
  .newsletter button {
    width: 100%;
    max-width: 300px;
  }

  .newsletter button {
    margin-top: 0.5rem;
        width: 50%;
    max-width: 200px;
    justify-content: center;
    margin-right: 0.8rem;
  }

  /* contact*/
  /* Header */
  .heading {
    font-size: 1.6rem;
  }


  /* Form container */
  .contact-form {
    padding: 0 1rem;
  }
.contact-form p{
  text-align: left;
  size: 2rem;
}
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    max-width: 100%;
    font-size: 1rem;
    margin: 1rem 0;
  }
  .contact-form .btn{
    justify-content: center;
   width: 100%;
    border-radius: 32px;

  }

  /* Location Section */
  .location h2 {
    font-size: 1.4rem;
    text-align:left;
    padding: 0 1rem;
  }

  .location p {
    text-align: left;
    font-size: 1rem;
    padding: 0 1rem;
  }

  .location .map {
    padding-bottom: 60%; /* taller map for mobile */
  }
  .social .social-icons {
    flex-wrap: wrap;
  }

  .social p {
    font-size: 1.2rem;
  }

  .social i {
    font-size: 2rem;
  }



  .footer {
    padding: 0.5rem 1rem;
  }

  .footer-flex {
    flex-direction: column;
    text-align: center;
  }

  /*details fix*/
  .details-flex,
  .details-flex.reverse {
    flex-direction: column;
    text-align: center;
  }

  .details-content {
    padding: 1rem;
    text-align: left;
  }

  .details-content ul {
    text-align: left;
  }
  

}



@media (max-width: 576px) {
  .hero {
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .hero img {
    max-width: 350px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .summary .container {
    padding: 0;
  }

  .stats .stats-numbers {
    flex-direction: column;
  }

  .newsletter h2 {
    font-size: 1.5rem;
  }

  .newsletter p {
    display: none;
  }


}
