
*::before,
*::after{
margin: 0;
padding: 0;
box-sizing: border-box;
}
:root{
    --primary-color : #fc5d66;
    --secondary-color : #ffc05a;
    --light-color :#f9fafb;
    --dark-color :#272d35;
}

html,
body{
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth; 
    line-height: 1.6;

}

a{
    text-decoration: none;

}

ul{
    list-style: none;

}

img{
    max-width:100%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}
.container-sm{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2rem;
}
.btn{
    display: inline;
    padding: 1.6rem 2.6rem;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 32px;
    color: var(--dark-color);
    cursor: pointer;
    transition: all 0.2s;
}
.btn:hover{
    background: var(--primary-color);
    color: #fff;
    border-color: #fff;
}

.section{
    margin: 4rem 0;
}
.sum{
    text-align: center;
}
.section-header {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3rem;
}
.section-header h2{
    font-size: 2rem;
    font-weight: 700;
    color: var(--dark-color);
    margin-bottom: 0.5rem;
}
.section-header p{
      font-size: 1.1rem;
  line-height: 1.6;
  max-width: 700px;
  margin: 0 auto;
}
.heading-border {
  width: 64px;
  height: 4px;
  background: var(--primary-color);
  margin: 0 auto 2rem;
}

.section-p{
    font-size: 1.3rem;
    color: var(--dark-color);
}
.navbar{
    background: black ;
    color: white;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;
}

.navbar.navbar-scroll{
background-color: rgba(235,77,85,0.7);
backdrop-filter: blue(10px);
}
.navbar-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar img{
    width: 81px;
    height: 32px;
}
.navbar .main_menu_list{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 600;

}

.navbar a{
    color: #ffffff;
}
.navbar a:hover{
    color : var(--secondary-color)
}
.navbar i{
    font-size: 1.5rem;
}


/* mobile menu */
.mobile-menu{
    display: none;
}
.navbar .mobile-menu-toggle{
    cursor: pointer;
    color: #fff;
   
}
.mobile-menu-items .active {
  transform: translateX(0%);
}

/*cards */
.card{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
padding: 2rem 1.75rem;
background: #fff;
box-shadow: 0 4px 12px 0 rgba(236, 0, 0, 0.3);
}
.navbar .mobile-menu-items {
  transform: translateX(100%);
  transition: transform 0.3s ease;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  padding: 2rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  z-index: 1000;
}


.navbar .mobile-menu-items,
.navbar .mobile-menu-list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.2rem;
}
.hero {
  background: #000 url("images/header-background.jpg") center center / cover no-repeat;
  padding: 11.5rem 2rem 8rem;
  color: #fff;
  overflow-x: hidden;
  position: relative;
}

.hero-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
  padding-bottom: 8rem;
}

.hero-content {
  flex: 1;
}

.hero h1 {
  font-size: 3.5rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  line-height: 1.8;
  font-weight: 400;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: var(--secondary-color);
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--light-color);
}

/* text edit*/
.text-primary{
    color: var(--primary-color);
}
.text-secondary {
    color: var(--secondary-color);
}


.hero-image {
  flex: 1;
  text-align: right;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

/* learning section */
.learnign{
    background-color: #f4f4f4;
}
.headline{
    font-size: 3rem;
    text-align: center;
    justify-content: center;
}
.grid{
  display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 3rem;
padding: 0rem 2rem;
align-items: center;
}
.description{
    font-size: 22px;
    font-weight: 8rem;
}
.description:hover{
 box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  transform: scale(1.03);
}
.pg{
    font-size: 35px;
    font-weight: 100px;
}
/* course image highlite */
.course-img {
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
}

.course-img:hover {
  box-shadow: 0 0 20px rgba(254, 10, 10, 0.6); 
  transform: scale(1.03); 
  background-color: rgba(255, 255, 255, 0.05); 
}

.course-img img {
  width: 100%;
  display: block;
  transition: transform 0.3s ease;
}

.course-img:hover img {
  transform: scale(1.05); 
}
/* chapter section */
.chapter-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding:1rem 0rem 4rem;
}
.chapter-cards img{
    width: 130px;
    margin-top: 1rem;

}
.chapter-cards h3{
    font-size: 1.2rem;
    font-weight: 700;
    margin: 1rem 0;
}
.headmain{
    text-align: center;
    margin-bottom:0.5rem;
   

} 

/*summary */
.summary{
    background: var(--light-color);
    color: var(--dark-color);
    padding: 4rem 2rem 5rem;

}

.summaty .section-lists{
background: #fff;
padding: 2rem;

}

.summary .list-header{
    background: var(--primary-color);
    color: #fff;
 padding: 0.5rem 1rem;
 font-size: 1.25rem;
 font-weight: 700;
 margin: 1rem 0;
}

.summary .list-item{
    padding: 1.4rem 0;
    border-bottom: 1px solid var(--primary-color);
}

.summary .list-item:last-child{
    border-bottom: none;

}

/* info sec*/
.info-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.info-image {
  flex: 1;
  background: url('images/audience.jpg') center center/cover no-repeat;
  min-height: 400px;
  padding-left: 2rem;
  align-items: auto;
}

.info-content {
  flex: 1;
  background-color: var(--primary-color);
  color: white;
  padding: 4rem;
}

.info-content h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.info-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.info-content ul {
  list-style: none;
  padding: 0;
}

.info-content li {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.info-content i {
  color: var(--secondary-color);
  margin-right: 0.5rem;
}
/* takway */
.takeaways-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    padding: 1.5rem 0;
    flex-wrap: wrap;
   
}
.takeaways-cards .card i{
    margin-right: 1rem;
}
/* details section*/
.details .details-flex {
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}
.details-head{
    text-align: center;
    padding: 0 2rem;
}
.details img {
  width: 100%;
  max-width: 500px;
}
.details h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.details p {
  margin: 1rem 0 2rem;
}
/* another*/

.details-flex {
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.details-flex.reverse {
  flex-direction: row-reverse; 
}

.details-content {
  flex: 1;
  padding: 2rem;
}

.details-content h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.section-intro {
  margin: 1rem 0 2rem;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
}

.details-content ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 2rem;
}

.details-content li {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.details-content i {
  margin-right: 0.5rem;
  color: var(--primary-color, #fc5d66);
}

.author-section img {
  max-width: 500px;
  width: 100%;
  height: auto;
  flex: 1;
}

/* Statsec */
.stats {
  background: #000 url('images/stats-background.jpg') center center/cover no-repeat;
  color: #fff;
}

.stats-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 2rem;
}

.stats img {
  width: 100%;
  max-width: 500px;
}

.stats-content {
  max-width: 500px;
}

.stats .stats-number {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.stats .stats-numbers h3 {
  font-size: 3rem;
  font-weight: 700;
}

.stats .stats-numbers p {
  font-size: 1rem;
}

.stats .stats-text {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.stats .btn {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 200px;
  border-radius: 75px;
}

/* Responsive fix */
@media (max-width: 768px) {
  .details-flex,
  .details-flex.reverse {
    flex-direction: column;
    text-align: center;
  }

  .details-content {
    padding: 1rem;
  }

  .details-content ul {
    text-align: left;
  }
}


/* Newsletter */
.newsletter {
  text-align: center;
  margin: 0 2rem;
}

.newsletter-flex {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--light-color);
  border: 1px solid #eee;
  padding: 4rem 2rem;
}

.newsletter h2 {
  font-size: 2rem;
  font-weight: 700;
}

.newsletter p {
  max-width: 600px;
}

.newsletter input[type='email'] {
  padding: 1rem 2rem;
  border: 1px solid #ccc;
  border-radius: 32px;
  width: 100%;
  max-width: 400px;
  margin: 1rem 0;
}

/* Social */
.social {
  background: var(--dark-color);
  color: #fff;
  padding: 6rem 2rem;
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 0;
}

.social a,
.footer a {
  color: #fff;
}

.social a:hover,
.footer a:hover {
  color: var(--secondary-color);
}

.social p {
  margin-bottom: 2rem;
}

.social .social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

/* Footer */
.footer {
  background: var(--dark-color);
  color: #fff;
  border-top: 1px solid #384653;
  padding: 0.5rem 2rem;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}

/* Inner Header */
.inner-header {
  background: var(--primary-color);
  color: #fff;
  height: 250px;
  padding-top: 8rem;
}

.inner-header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

/* Contact Form */
.contact-form p {
  margin-bottom: 3rem;
}

.contact-form input,
.contact-form textarea {
  display: block;
  font-family: inherit;
  font-size: medium;
  width: 100%;
  margin: 1.5rem 0;
  border: 1px solid #ccc;
  padding: 1.2rem 1rem;
}

.contact-form textarea {
  height: 200px;
}

.contact-form .btn {
  display: block;
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  margin: 0 auto;
}
/*contact  */
.heading{
  text-align: center;
}

.pgcontact{
  font-size: 1.6rem ;
  font-weight: 800px;
  text-align: center;
}

/* Location */
.location h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.location p {
  margin-bottom: 2rem;
}

.location .map {
  overflow: hidden;
  position: relative;
  height: 0;
  margin-bottom: 3rem;
  padding-bottom: 50%;
  border-radius: 1rem;
}

.location .map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

@media(max-width:1200px){}
@media(max-width:992px){
    .hero{
        text-align: center;
    }
    .hero .hero-flex{
        flex-direction: column;
        padding-bottom: 4rem;
    }

    .hero img{
        max-width: 600px;
        margin-top: 2rem;
    }
    .chapter-cards{
        grid-template-columns: 1fr;
    }
    .grid{
       grid-template-columns: 1fr;
    }
    .takeaways-cards{
        grid-template-columns: 1fr;
    }
    .stats-flex{
        flex-direction: column;
    }
}
@media(max-width-768px){
   .main_menu_items,.info-left{
        display: none;
    }
    .navbar .mobile-menu{
        display: block;
    }
    .navbar .mobile-menu-toggle{
        display: block;
        padding: 10px;
    }
    .info-content p{
        font-size: 1.2rem;
    }
    .info-container{
        flex-direction: column;
    }
    .info-image{
        display: none;
    }
    
}

@media(max-width-576px){
    .hero{
        padding-right: 0.2rem;
        padding-right: 0.2rem;
    }
    .hero h1{
     font-size: 2.5rem;
    }
    .hero img{
        max-width: 350px;
    }
    .summary .container{
        padding: 0;
    }
}